MONGO_URI=mongodb+srv://benjaminbonnevial_db_user:<password>@glycamedcluster.tsplglp.mongodb.net/?retryWrites=true&w=majority&appName=GlycAmedCluster
JWT_SECRET=secret
OFF_BASE_URL=https://world.openfoodfacts.org