.App {
  background: linear-gradient(135deg, rgba(20, 20, 20, 1) 50%, rgb(6, 16, 55) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}