@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Rubik+Mono+One&family=Rubik+Vinyl&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-blue: #1332C4;
  --color-yellow: #FEDC32;
  --color-background: #141414;
  --color-white: #FEFEFE;
}


body {
  margin: 0;
  font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: "Rubik Mono One", monospace;
}