@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&family=Rubik+Mono+One&family=Rubik+Vinyl&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --color-blue: #1332c4;
  --color-yellow: #fedc32;
  --color-red: #a20000;
  --color-background: #141414;
  --color-white: #fefefe;
}

body {
  margin: 0;
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(20, 20, 20, 1) 50%,
    rgb(6, 16, 55) 100%
  );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-family: "Rubik Mono One", monospace;
}
